<h1>Adminチャットルームの一覧</h1>

<%# @current_entry.each do |entry| %>
  <!--<div>-->
    <%#= entry.teacher_name %>
    <%#= link_to "#{entry.teacher.teacher_name}DM", admin_rooms_path(entry) %>
  <!--</div>-->
<%# end %>