<div class = "background">
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-12 mt-5">

        <div class= "row">
          <div class="mx-auto">
            <h1 class="font-weight-bold d-flex justify-content-center">Application overview</h1>
            <p class="d-flex justify-content-center">日々の利用状況を一目で見ることができる連絡帳アプリです。</p>
            <p class="d-flex justify-content-center">その日に取り組んだ個人・集団活動内容・食事・保護者への連絡事項が確認できます。</p>
            <p class="d-flex justify-content-center">また、リアルタイムで先生とのやり取りができるチャット機能も搭載！</p>
            <p class="d-flex justify-content-center">欠席の連絡など、スムーズに先生と連絡をすることも可能です！ぜひご活用ください！</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>