/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: image-url("watercolor.jpg");
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
	padding-bottom: 122px;
}

.contact-book-card-image {
	width:100%;
	height:250px;
	object-fit:cover;
}
.card-div{
	width:23%;
	margin-right:25px;
}


.yield{
	margin-bottom:200px;
}

.talk {
	background-color:rgba(255,255,255,0.6);
	padding:1em;
	width:100%;
  height:10%;
	overflow:scroll;
}
/* 左のトークボックス */
.talk .talk_left:before { /* 左の丸アイコン */
	content:'';
	display:inline-block;
	width:50px;
	height:50px;
	vertical-align:top;
	border-radius:50%;
	background-size:cover;
	background-position-x: 0px;
  background-image: image-url('teacher.jpeg')
}
.talk .talk_left p:before {  /* 左ふきだしの左三角を描画 */
	content: '';
	position:absolute;
	top:8px;
	left:-20px;
	border: 12px solid transparent;
	border-right:12px solid white;
}
.talk .talk_left p { /* 左ふきだしの本体 */
	display:inline-block;
	position:relative;
	background-color:white;
	border-radius:10px;
	padding:10px;
	margin:0 0 0 10px;
}
/* 右のトークボックス */
.talk .talk_right:after { /* 右の丸アイコン */
	content:'';
	display:inline-block;
	width:50px;
	height:50px;
	vertical-align:top;
	border-radius:50%;
	background-size:cover;
	background-position-x: 0px;
	background-image: image-url('human.jpeg')
	// 	background-image: image-url('no_image.jpg')
}
.talk .talk_right {
	float:right; /* 右のふきだしは全体的に右寄せ */
	margin-top:3em;
}
.talk .talk_right p:after { /* 右ふきだしの右三角を描画 */
	content: '';
	position:absolute;
	top:8px;
	right:-20px;
	border: 12px solid transparent;
	border-left:12px solid #fffacd;
}
.talk .talk_right p { /* 右ふきだしの本体 */
	display:inline-block;
	position:relative;
	background-color:#fffacd;
	border-radius:10px;
	padding:10px;
	margin:0 10px 0 0;
}
.clearfix:after{
  display:block;
  clear: both;
}
.clearfix:befor{
  display:block;
  clear: both;
}
.clearfix{
  display:block;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}
.pagination {
  justify-content: center;
}

.n-circle  {
  color:#ffff00;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.box {
  width: 350px;
  height: 450px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-inner {
  padding: 20px 26px;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 22px;
}

.box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.box-password a {
  font-size: 13px;
}

.box-login {
  margin-bottom: 26px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.legal-text {
  margin-top: 18px;
  font-size: 12px;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.box-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.box-newusr a:hover {
  background: #e7e9ec;
}

.header {
position: fixed;
top: 0px;
width: 100%;
height: 30px;
border:1px solid #ccc;
background-color: rgba(255, 255, 255, 0.8); /* 背景のみ半透明 */
}

.table-back {
 background:rgba(255,255,255,0.6);
}

.table-title {
 background-color:rgba(255,255,255,0.6);
}

.table-header {
 background-color:rgba(100,100,100,0.8);
 opacity:0.5;
}

.search {
FONT-WEIGHT: 100;
font-family:fantasy;
font-size:revert;
}

.p-circle {
  color:#281a14;
}

.area-a {
  width: 50%; /* 幅 */
  margin: 1em 0; /* 周囲の余白 */
  padding: 0.5em; /* 枠線内の余白 */
  font-size: 1em; /* フォントサイズ */
  border: solid 2px #008b8b; /* 枠線のスタイル */
  border-radius: 4px; /* 角丸に */
  resize: none; /* リサイズ不可に */
}
/* フォーカス時のスタイル */
textarea:focus {
  border-color: #56a9ff;
  outline: 0;
}

.logo_area {
  width: 10px;
}

.logo {
  height: 10%;
  width: 10%;
}





